<h1> My name is <%= @names %> </h1>
<div>
<img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" style="border: red dashed 2px; width: 40%;">
</div>
